<!DOCTYPE html>
<html>
<head>
    <title>MyDiary</title>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <!--Stylesheet-->
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>
   <div class="dashboard">
    <div class="">
        <h1><img src="img/icon.png" class="img" alt="logo" style="margin-left: 18px;"><b style="margin-right: 7px;">MyDiary</b> <a href="/logout" style="float: right; margin-right: 10px; font-size: 14px; margin-top: 10px; color: black;">LOGOUT</a></h1>
    </div>
    <% if(message.length > 0 ) { %>
    <div class="alert alert-success" style="margin-top: 10px; margin-left: 10px; margin-right: 10px; width: 97%">
        <%= message %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <% }%>
    <form class="responsive" action="/diaryList" method="POST">
        <div class="group">
            <p class="list"><b>MyDiary Lists</b></p>
            <a href="/diarys" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
        </div>

        <div class="card-body" >
                <table id="table" class="table">
                    <thead style="background-color: #DBFF33; margin-top: 10px;">
                        <tr>
                        <th>Image</th>
                        <th>File Name</th>
                        <th>Date Created</th>
                        <th>Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <% diaryList.forEach((row, index) => { %>   
                            <tr>
                            <td>
                                <img src="./uploads/<%= row.image %>" alt="image" style="width: 55px;" /></td>
                            <td><%= row.file_name %></td>
                            <td><%= row.createdAt.toLocaleDateString('en-Us', { year: 'numeric', month: 'long', day: '2-digit'}) %></td>
                            <td>
                                <a href="/edit/<%= row._id %>" class="text-success"><i class="fa fa-pencil fa-lg mx-1"></i></a>
                                <a href="/delete/<%= row._id %>" class="text-danger"><i class="fa fa-trash fa-lg mx-1"></i></a>
                            </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
               
           
           
        </div>

    </form>
   </div>
    
</body>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [0, 'desc']
            });
        });
    </script>
</html>

